*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: whitesmoke;
}

#calculator-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#calculator {
    width: 325px;
    background-color: #4C5C89;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

#display {
    width: 90%;
    height: auto;
    justify-self: center;
    font-size: 32px;
    background-color: #4C7B89;
    border-radius: 8px;
    margin-top: 16px;
    padding: 8px;
    color: #333;
    text-align: right;
}

#num-pad {
    display: flex;
    flex-direction: column;   
    padding: 16px;

}

button {
    display: inline-block;
    width: 60px;
    padding: 8px;
    background-color: #333;
    text-decoration:none;
    border-radius: 4px;
    margin-top: 16px;
    color: #89794C;
    font-size: 28px;
    margin-bottom: 4px;
    margin-left: 8px;
    margin-right: 8px;
}

#row-1 {
    display: flex;
    justify-content: space-around;
}

#row-2 {
    display: flex;
    justify-content: space-around;
}

#row-3 {
    display: flex;
    justify-content: space-around;
}

#row-4 {
    display: flex;
    justify-content: space-around;
}

#row-5 {
    display: flex;
    justify-content: space-around;
}

#equal-btn {
    flex-grow: 1;
    
}

.cal-btn {
    transition: transform 0.3s ease-in-out;
}

.cal-btn:hover:hover {
   transform: scale(1.1);
   background-color: #4C7B89;
   color: #333;
}